body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.image-fluid {
  margin: 15px;
  max-width: 350px;
  max-height: 350px;
}

.container-fluid {
  width: 100%;
  max-width: auto;
  margin-left: auto;
  margin-bottom: 50px;
  margin-right: auto;
  text-align: center;
}

.article-body {
  padding: 10px;
  font-size: 18px;
}
