body {
  padding: 50px;
  font-family: 'Roboto', sans-serif;
  background-color: #003366;
}

a {
  color: #00B7FF;
}

.image-fluid {
  margin: 15px;
  max-width: 350px;
  max-height: 350px;
}

.container-fluid {
  width: 100%;
  max-width: auto;
  margin-left: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: auto;
  text-align: center;
}

.article-body {
  padding: 10px;
  font-size: 18px;
}

h1{
  font-family: 'Fredericka the Great', cursive;
  font-size: 75px;
  color:#FFFFFF;
  text-align: center;
}

h2{
  color: #CCCCCC;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

a.collapsed{
  color: #003366;
}
